<div ng-init="init()"></div>
<div ng-if="sesion.sesion == 1">
    <h2 class="titulo">Lista de cargos</h2>

    <div class="row">
        <div class="medium-12 columns">
            <a class="button default" href="#/cargos/crear"><i class="fi-plus"></i> Crear cargo</a>
            <a class="button default" href="./api/files/cargo"><i class="fi-download"></i> Lista de cargos</a>
        </div>
    </div>

    <div class="row">
        <div class="medium-2 columns item head">ID</div>
        <div class="medium-6 columns item head">Nombre</div>
        <div class="medium-4 columns item head">Acciones</div>
    </div>

    <div class="row" ng-repeat="(key, cargo) in cargos">
        <div class="medium-2 columns item">{{ cargo.id }}</div>
        <div class="medium-6 columns item">{{ cargo.nombre }}</div>
        <div class="medium-4 columns item">
            <a href="#/cargos/editar/{{ cargo.id }}" tooltips tooltip-template="Editar"><i class="fi-pencil"></i></a>
            <a href="./api/files/cargo/{{ cargo.id }}" tooltips tooltip-template="Descargar"><i class="fi-download"></i></a>
            <a ng-click="borrar(cargo.id)" tooltips tooltip-template="Borrar"><i class="fi-trash"></i></a>
        </div>
    </div>
</div>
