<h2 class="titulo">Backups realizados</h2>

<div class="row">
    <div class="medium-12 columns">
        <a class="button default" href="#/backups/programar"><i class="fi-compass"></i> Programar backup</a>
        <a class="button warning"><i class="fi-star"></i> Ejecutar backup</a>
    </div>
</div>

<div class="row">
    <div class="medium-2 columns item head">ID</div>
    <div class="medium-3 columns item head">Fecha</div>
    <div class="medium-4 columns item head">Ruta</div>
    <div class="medium-3 columns item head">Acciones</div>
</div>

<div class="row">
    <div class="medium-2 columns item">1</div>
    <div class="medium-3 columns item">0000-00-00</div>
    <div class="medium-4 columns item">/ruta/backup</div>
    <div class="medium-3 columns item">
        <a href="#" tooltips tooltip-template="Ver detalle"><i class="fi-zoom-in"></i> Ver detalle</a>
    </div>
</div>

<div class="row">
    <div class="medium-2 columns item">2</div>
    <div class="medium-3 columns item">0000-00-00</div>
    <div class="medium-4 columns item">/ruta/backup</div>
    <div class="medium-3 columns item">
        <a href="#" tooltips tooltip-template="Ver detalle"><i class="fi-zoom-in"></i> Ver detalle</a>
    </div>
</div>

<div class="row">
    <div class="medium-2 columns item">3</div>
    <div class="medium-3 columns item">0000-00-00</div>
    <div class="medium-4 columns item">/ruta/backup</div>
    <div class="medium-3 columns item">
        <a href="#" tooltips tooltip-template="Ver detalle"><i class="fi-zoom-in"></i> Ver detalle</a>
    </div>
</div>

<div class="row">
    <div class="medium-2 columns item">4</div>
    <div class="medium-3 columns item">0000-00-00</div>
    <div class="medium-4 columns item">/ruta/backup</div>
    <div class="medium-3 columns item">
        <a href="#" tooltips tooltip-template="Ver detalle"><i class="fi-zoom-in"></i> Ver detalle</a>
    </div>
</div>

<div class="row">
    <div class="medium-2 columns item">5</div>
    <div class="medium-3 columns item">0000-00-00</div>
    <div class="medium-4 columns item">/ruta/backup</div>
    <div class="medium-3 columns item">
        <a href="#" tooltips tooltip-template="Ver detalle"><i class="fi-zoom-in"></i> Ver detalle</a>
    </div>
</div>
<hr />
<br />
