<div ng-init="init()"></div>
<div ng-if="sesion.sesion == 1">
    <h2 class="titulo">Editar empleado</h2>
    <input type="hidden" name="id" ng-model="empleado.id" />
    <div class="row">

        <div class="medium-3 columns"><label for="cedula">C&eacute;dula</label></div>
        <div class="medium-9 columns"><input type="text" name="cedula" ng-model="empleado.cedula" /></div>

        <div class="medium-3 columns"><label for="nombre">Nombres</label></div>
        <div class="medium-9 columns"><input type="text" name="nombres" ng-model="empleado.nombres" /></div>

        <div class="medium-3 columns"><label for="nombre">Correo</label></div>
        <div class="medium-9 columns"><input type="email" name="correo" ng-model="empleado.correo" /></div>

        <div class="medium-3 columns"><label for="cargo">Cargo</label></div>
        <div class="medium-9 columns">
            <select name="id_cargo" ng-model="empleado.id_cargo" ng-options="cargo.id as cargo.nombre for cargo in cargos">
            </select>
        </div>

        <div class="medium-3 columns"><label for="salario">Salario</label></div>
        <div class="medium-9 columns"><input type="text" name="salario" ng-model="empleado.salario" /></div>

        <div class="medium-3 columns"><label for="salario">Clave</label></div>
        <div class="medium-9 columns"><input type="password" name="clave" ng-model="empleado.clave" /></div>

        <div class="medium-3 columns"><label for="nombre">Tel&eacute;fono</label></div>
        <div class="medium-9 columns"><input type="text" name="telefono" ng-model="empleado.telefono" /></div>

        <div class="medium-12 columns">
            <input type="button" ng-click="guardar()" class="button default" value="Guardar" />
            <a href="#/empleados" class="button alert">Regresar</a>
        </div>
    </div>
</div>
