<h2 class="titulo">Editar Compras</h2>

<div class="row">
    <div class="medium-3 columns"><label for="codigo_compra">Codigo</label></div>
    <div class="medium-8 columns end"><input type="text" name="Codigo_Compra" /></div>
</div>
<div class="row">
    <div class="medium-3 columns"><label for="fecha">Fecha</label></div>
    <div class="medium-8 columns end"><input type="date" name="fecha" /></div>
</div>
<div class="row">
    <div class="medium-3 columns"><label for="nombre">Nombre del Producto</label></div>
    <div class="medium-8 columns end"><input type="text" name="nombre" /></div>
</div>
<div class="row">
    <div class="medium-3 columns"><label for="nombre">Nombre del Proveedor</label></div>
    <div class="medium-8 columns end"><input type="text" name="nombre" /></div>
</div>
<div class="row">
    <div class="medium-3 columns"><label for="cantidad">Cantidad</label></div>
    <div class="medium-8 columns end"><input type="text" name="cantidad" /></div>
</div>
<div class="row">
        <div class="medium-3 columns"><label for="valor_unitario">Valor Unitario</label></div>
        <div class="medium-8 columns end"><input type="text" name="valor_unitario" /></div>
    </div>
<div class="row">
    <div class="medium-3 columns"><label for="subtotal">SubTotal</label></div>
    <div class="medium-8 columns end"><input type="text" name="subtotal" /></div>
</div>
<div class="row">
    <div class="medium-3 columns"><label for="valor_iva">Valor Iva</label></div>
    <div class="medium-8 columns end"><input type="text" name="valor_iva" /></div>
</div>
<div class="row">
    <div class="medium-3 columns"><label for="valor_total">Valor Total</label></div>
    <div class="medium-8 columns end"><input type="text" name="valor_total" /></div>
</div>
<div class="row">
    <div class="medium-3 columns"><label for="Estado">Estado</label></div>
    <div class="medium-8 columns end">
        <select id="Estado">
            <option>En Proceso</option>
            <option>Cerrada</option>
            <option>Cancelada</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="medium-12 columns">
        <input type="button" class="button default" value="Guardar" />
        <a href="#/compras/lista" class="button alert">Regresar</a>
    </div>
</div>
<hr />
<br />
