<h2 class="titulo">Lista de Compras</h2>

<div class="row">
    <div class="medium-3 columns">
        <input type="text" placeholder="Codigo" />
    </div>
    <div class="medium-3 columns">
        <input type="text" placeholder="Nombre del Producto" />
    </div>
    <div class="medium-3 columns">
        <input type="date" placeholder="Fecha" />
    </div>
    <div class="medium-3 columns">
        <a class="button default" href="#/compras/editar"><i class="fi-magnifying-glass"></i> Buscar</a>
    </div>
</div>
<hr />

<div class="row">
    <div class="medium-12 columns">
        <a class="button default" href="#/compras/editar"><i class="fi-plus"></i> Crear Compras</a>
        <a class="button default" href="#"><i class="fi-print"></i> Imprimir</a>
        <a class="button default" href="#"><i class="fi-page-pdf"></i> Imprimir PDF</a>
    </div>
</div>

<div class="row">
    <div class="medium-2 columns item head">Codigo</div>
    <div class="medium-2 columns item head">Producto</div>
    <div class="medium-2 columns item head">Cantidad</div>
    <div class="medium-2 columns item head">Valor Total</div>
    <div class="medium-2 columns item head">Estado</div>
    <div class="medium-2 columns item head">Acciones</div>
</div>

<div class="row">
    <div class="medium-2 columns item">1</div>
    <div class="medium-2 columns item">Compra 1</div>
    <div class="medium-2 columns item">1</div>
    <div class="medium-2 columns item">1000</div>
    <div class="medium-2 columns item">Cancelada</div>
    <div class="medium-2 columns item">
        <a href="#" too2tips tooltip-template="Editar"><i class="fi-pencil"></i></a>
        <a href="." too2tips tooltip-template="Descargar"><i class="fi-download"></i></a>
        <a tooltips too2tip-template="Borrar"><i class="fi-trash"></i></a>
    </div>
</div>

<div class="row">
    <div class="medium-2 columns item">2</div>
    <div class="medium-2 columns item">Compra 2</div>
    <div class="medium-2 columns item">2</div>
    <div class="medium-2 columns item">2000</div>
    <div class="medium-2 columns item">Cerrada</div>
    <div class="medium-2 columns item">
        <a href="#" too2tips tooltip-template="Editar"><i class="fi-pencil"></i></a>
        <a href="." too2tips tooltip-template="Descargar"><i class="fi-download"></i></a>
        <a tooltips too2tip-template="Borrar"><i class="fi-trash"></i></a>
    </div>
</div>

<div class="row">
    <div class="medium-2 columns item">3</div>
    <div class="medium-2 columns item">Compra 3</div>
    <div class="medium-2 columns item">3</div>
    <div class="medium-2 columns item">3000</div>
    <div class="medium-2 columns item">En Proceso</div>
    <div class="medium-2 columns item">
        <a href="#" tooltips tooltip-template="Editar"><i class="fi-pencil"></i></a>
        <a href="." tooltips tooltip-template="Descargar"><i class="fi-download"></i></a>
        <a tooltips tooltip-template="Borrar"><i class="fi-trash"></i></a>
    </div>
</div>

<hr />
<br />
