<h2 class="titulo">Lista de Roles</h2>

<div class="row">
    <div class="medium-3 columns">
        <input type="text" placeholder="ID" />
    </div>
    <div class="medium-3 columns">
        <input type="text" placeholder="Nombre" />
    </div>
    <div class="medium-6 columns">
        <a class="button default" href="#/roles/editar"><i class="fi-magnifying-glass"></i> Buscar</a>
    </div>
</div>
<hr />

<div class="row">
    <div class="medium-12 columns">
        <a class="button default" href="#/roles/editar"><i class="fi-plus"></i> Crear Rol</a>
    </div>
</div>

<div class="row">
    <div class="medium-2 columns item head">ID</div>
    <div class="medium-2 columns item head">Nombre</div>
    <div class="medium-8 columns item head">Acciones</div>
</div>

<div class="row">
    <div class="medium-2 columns item">1</div>
    <div class="medium-2 columns item">Administrador</div>
    <div class="medium-8 columns item">
        <a href="#" tooltips tooltip-template="Editar"><i class="fi-pencil"></i></a>
        <a href="." tooltips tooltip-template="Asignar permiso"><i class="fi-lock"></i></a>
        <a tooltips tooltip-template="Borrar"><i class="fi-trash"></i></a>
    </div>
</div>

<div class="row">
    <div class="medium-2 columns item">2</div>
    <div class="medium-2 columns item">Jefe de despachos</div>
    <div class="medium-8 columns item">
        <a href="#" tooltips tooltip-template="Editar"><i class="fi-pencil"></i></a>
        <a href="." tooltips tooltip-template="Asignar permiso"><i class="fi-lock"></i></a>
        <a tooltips tooltip-template="Borrar"><i class="fi-trash"></i></a>
    </div>
</div>

<div class="row">
    <div class="medium-2 columns item">3</div>
    <div class="medium-2 columns item">Vendedor</div>
    <div class="medium-8 columns item">
        <a href="#" tooltips tooltip-template="Editar"><i class="fi-pencil"></i></a>
        <a href="." tooltips tooltip-template="Asignar permiso"><i class="fi-lock"></i></a>
        <a tooltips tooltip-template="Borrar"><i class="fi-trash"></i></a>
    </div>
</div>

<div class="row">
    <div class="medium-2 columns item">4</div>
    <div class="medium-2 columns item">Jefe compras</div>
    <div class="medium-8 columns item">
        <a href="#" tooltips tooltip-template="Editar"><i class="fi-pencil"></i></a>
        <a href="." tooltips tooltip-template="Asignar permiso"><i class="fi-lock"></i></a>
        <a tooltips tooltip-template="Borrar"><i class="fi-trash"></i></a>
    </div>
</div>
<hr />
<br />
