<h2 class="titulo">Catálogo de productos</h2>
<div class="row">
        <div class="medium-9 columns">
            <input type="text" placeholder="Producto, Categoría, Descripción, etc." />
        </div>
        <div class="medium-3 columns">
            <a class="button default" href="#/productos/editar"><i class="fi-magnifying-glass"></i> Buscar</a>
        </div>
    </div>
    <hr />
<div class="row text-center">
    <div class="medium-3 columns">
        <div class="item-catalogo">
            <img src="./img/producto1.png" alt="Producto 01" />
            <p><strong>Producto 01</strong></p>
            <p>$000.000</p>
            <a class="tiny button"><i class="fi-shopping-cart"></i> Añadir</a>
        </div>
    </div>

    <div class="medium-3 columns">
        <div class="item-catalogo">
            <img src="./img/producto2.png" alt="Producto 02" />
            <p><strong>Producto 02</strong></p>
            <p>$000.000</p>
            <a class="tiny button"><i class="fi-shopping-cart"></i> Añadir</a>
        </div>
    </div>

    <div class="medium-3 columns">
        <div class="item-catalogo">
            <img src="./img/producto3.png" alt="Producto 03" />
            <p><strong>Producto 03</strong></p>
            <p>$000.000</p>
            <a class="tiny button"><i class="fi-shopping-cart"></i> Añadir</a>
        </div>
    </div>

    <div class="medium-3 columns">
        <div class="item-catalogo">
            <img src="./img/producto4.png" alt="Producto 04" />
            <p><strong>Producto 04</strong></p>
            <p>$000.000</p>
            <a class="tiny button"><i class="fi-shopping-cart"></i> Añadir</a>
        </div>
    </div>

    <div class="medium-3 columns">
        <div class="item-catalogo">
            <img src="./img/producto1.png" alt="Producto 05" />
            <p><strong>Producto 05</strong></p>
            <p>$000.000</p>
            <a class="tiny button"><i class="fi-shopping-cart"></i> Añadir</a>
        </div>
    </div>

    <div class="medium-3 columns">
        <div class="item-catalogo">
            <img src="./img/producto2.png" alt="Producto 06" />
            <p><strong>Producto 06</strong></p>
            <p>$000.000</p>
            <a class="tiny button"><i class="fi-shopping-cart"></i> Añadir</a>
        </div>
    </div>

    <div class="medium-3 columns">
        <div class="item-catalogo">
            <img src="./img/producto3.png" alt="Producto 07" />
            <p><strong>Producto 07</strong></p>
            <p>$000.000</p>
            <a class="tiny button"><i class="fi-shopping-cart"></i> Añadir</a>
        </div>
    </div>

    <div class="medium-3 columns">
        <div class="item-catalogo">
            <img src="./img/producto4.png" alt="Producto 08" />
            <p><strong>Producto 08</strong></p>
            <p>$000.000</p>
            <a class="tiny button"><i class="fi-shopping-cart"></i> Añadir</a>
        </div>
    </div>

    <div class="medium-3 columns">
        <div class="item-catalogo">
            <img src="./img/producto1.png" alt="Producto 09" />
            <p><strong>Producto 09</strong></p>
            <p>$000.000</p>
            <a class="tiny button"><i class="fi-shopping-cart"></i> Añadir</a>
        </div>
    </div>

    <div class="medium-3 columns">
        <div class="item-catalogo">
            <img src="./img/producto2.png" alt="Producto 10" />
            <p><strong>Producto 10</strong></p>
            <p>$000.000</p>
            <a class="tiny button"><i class="fi-shopping-cart"></i> Añadir</a>
        </div>
    </div>

    <div class="medium-3 columns">
        <div class="item-catalogo">
            <img src="./img/producto3.png" alt="Producto 11" />
            <p><strong>Producto 11</strong></p>
            <p>$000.000</p>
            <a class="tiny button"><i class="fi-shopping-cart"></i> Añadir</a>
        </div>
    </div>

    <div class="medium-3 columns">
        <div class="item-catalogo">
            <img src="./img/producto4.png" alt="Producto 12" />
            <p><strong>Producto 12</strong></p>
            <p>$000.000</p>
            <a class="tiny button"><i class="fi-shopping-cart"></i> Añadir</a>
        </div>
    </div>

    <div class="small-12 columns">
        <ul class="pagination">
            <li class="active"><a>1</a></li>
            <li><a>2</a></li>
            <li><a>3</a></li>
            <li><a>4</a></li>
            <li><a>5</a></li>
        </ul>
    </div>
</div>