<h2 class="titulo">Editar Producto</h2>

<div class="row">
    <div class="medium-3 columns"><label for="nombre">Nombre</label></div>
    <div class="medium-8 columns end"><input type="text" name="nombre" /></div>
</div>
<div class="row">
    <div class="medium-3 columns"><label for="codigo">Código</label></div>
    <div class="medium-8 columns end"><input type="text" name="codigo" /></div>
</div>
<div class="row">
    <div class="medium-3 columns"><label for="apellidos">Precio</label></div>
    <div class="medium-8 columns end"><input type="text" name="precio" /></div>
</div>
<div class="row">
    <div class="medium-3 columns"><label for="categoria">Categoría</label></div>
    <div class="medium-8 columns end">
        <select id="categoria">
            <option>Categoría ABC</option>
            <option>Categoría XYZ</option>
            <option>Categoría 123</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="medium-12 columns">
        <input type="button" class="button default" value="Guardar" />
        <a href="#/productos/lista" class="button alert">Regresar</a>
    </div>
</div>
<hr />
<br />
