<h2 class="titulo">Lista de productos</h2>

<div class="row">
    <div class="medium-3 columns">
        <input type="text" placeholder="Nombre" />
    </div>
    <div class="medium-3 columns">
        <input type="text" placeholder="Categoría" />
    </div>
    <div class="medium-3 columns">
        <input type="text" placeholder="Precio" />
    </div>
    <div class="medium-3 columns">
        <a class="button default" href="#/productos/editar"><i class="fi-magnifying-glass"></i> Buscar</a>
    </div>
</div>
<hr />

<div class="row">
    <div class="medium-12 columns">
        <a class="button default" href="#/productos/editar"><i class="fi-plus"></i> Crear producto</a>
        <a class="button default" href="#"><i class="fi-print"></i> Imprimir</a>
        <a class="button default" href="#"><i class="fi-page-pdf"></i> Imprimir PDF</a>
    </div>
</div>

<div class="row">
    <div class="medium-2 columns item head">ID</div>
    <div class="medium-3 columns item head">Nombre</div>
    <div class="medium-2 columns item head">Código</div>
    <div class="medium-2 columns item head">Categoría</div>
    <div class="medium-3 columns item head">Acciones</div>
</div>

<div class="row">
    <div class="medium-2 columns item">1</div>
    <div class="medium-3 columns item">Producto 1</div>
    <div class="medium-2 columns item">00000</div>
    <div class="medium-2 columns item">Categoría ABC</div>
    <div class="medium-3 columns item">
        <a href="#" tooltips tooltip-template="Editar"><i class="fi-pencil"></i></a>
        <a href="." tooltips tooltip-template="Descargar"><i class="fi-download"></i></a>
        <a tooltips tooltip-template="Borrar"><i class="fi-trash"></i></a>
    </div>
</div>

<div class="row">
    <div class="medium-2 columns item">2</div>
    <div class="medium-3 columns item">Producto 2</div>
    <div class="medium-2 columns item">00000</div>
    <div class="medium-2 columns item">Categoría ABC</div>
    <div class="medium-3 columns item">
        <a href="#" tooltips tooltip-template="Editar"><i class="fi-pencil"></i></a>
        <a href="." tooltips tooltip-template="Descargar"><i class="fi-download"></i></a>
        <a tooltips tooltip-template="Borrar"><i class="fi-trash"></i></a>
    </div>
</div>

<div class="row">
    <div class="medium-2 columns item">3</div>
    <div class="medium-3 columns item">Producto 3</div>
    <div class="medium-2 columns item">00000</div>
    <div class="medium-2 columns item">Categoría XYZ</div>
    <div class="medium-3 columns item">
        <a href="#" tooltips tooltip-template="Editar"><i class="fi-pencil"></i></a>
        <a href="." tooltips tooltip-template="Descargar"><i class="fi-download"></i></a>
        <a tooltips tooltip-template="Borrar"><i class="fi-trash"></i></a>
    </div>
</div>

<div class="row">
    <div class="medium-2 columns item">4</div>
    <div class="medium-3 columns item">Producto 4</div>
    <div class="medium-2 columns item">00000</div>
    <div class="medium-2 columns item">Categoría XYZ</div>
    <div class="medium-3 columns item">
        <a href="#" tooltips tooltip-template="Editar"><i class="fi-pencil"></i></a>
        <a href="." tooltips tooltip-template="Descargar"><i class="fi-download"></i></a>
        <a tooltips tooltip-template="Borrar"><i class="fi-trash"></i></a>
    </div>
</div>

<div class="row">
    <div class="medium-2 columns item">5</div>
    <div class="medium-3 columns item">Producto 5</div>
    <div class="medium-2 columns item">00000</div>
    <div class="medium-2 columns item">Categoría 123</div>
    <div class="medium-3 columns item">
        <a href="#" tooltips tooltip-template="Editar"><i class="fi-pencil"></i></a>
        <a href="." tooltips tooltip-template="Descargar"><i class="fi-download"></i></a>
        <a tooltips tooltip-template="Borrar"><i class="fi-trash"></i></a>
    </div>
</div>

<div class="row">
    <div class="medium-2 columns item">6</div>
    <div class="medium-3 columns item">Producto 6</div>
    <div class="medium-2 columns item">00000</div>
    <div class="medium-2 columns item">Categoría 123</div>
    <div class="medium-3 columns item">
        <a href="#" tooltips tooltip-template="Editar"><i class="fi-pencil"></i></a>
        <a href="." tooltips tooltip-template="Descargar"><i class="fi-download"></i></a>
        <a tooltips tooltip-template="Borrar"><i class="fi-trash"></i></a>
    </div>
</div>

<hr />
<br />
