<h2 class="titulo">Crear usuario administrativo</h2>

<div class="row">
    <div class="medium-3 columns"><label for="nombre">Nombre</label></div>
    <div class="medium-8 columns end"><input type="text" name="nombre" /></div>
</div>
<div class="row">
    <div class="medium-3 columns"><label for="codigo">Apellido</label></div>
    <div class="medium-8 columns end"><input type="text" name="apellido" /></div>
</div>
<div class="row">
    <div class="medium-3 columns"><label for="apellidos">Cédula</label></div>
    <div class="medium-8 columns end"><input type="text" name="cedula" /></div>
</div>
<div class="row">
    <div class="medium-3 columns"><label for="apellidos">Nombre de usuario (nickname)</label></div>
    <div class="medium-8 columns end"><input type="text" name="clave" /></div>
</div>
<div class="row">
    <div class="medium-3 columns"><label for="apellidos">Clave</label></div>
    <div class="medium-8 columns end"><input type="password" name="clave" /></div>
</div>
<div class="row">
    <div class="medium-3 columns"><label for="apellidos">Rol</label></div>
    <div class="medium-8 columns end">
        <select>
            <option>Administrador</option>
            <option>Vendedor</option>
            <option>Jefe de compras</option>
            <option>Jefe de despachos</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="medium-3 columns"><label for="apellidos">Dirección</label></div>
    <div class="medium-8 columns end"><input type="text" name="direccion" /></div>
</div>
<div class="row">
    <div class="medium-3 columns"><label for="apellidos">Teléfono</label></div>
    <div class="medium-8 columns end"><input type="text" name="telefono" /></div>
</div>
<div class="row">
    <div class="medium-3 columns"><label for="apellidos">Ciudad</label></div>
    <div class="medium-8 columns end"><input type="text" name="Ciudad" /></div>
</div>

<br />
<h3>Administración de permisos</h3>
<hr />
<div class="row">
    <div class="medium-12 columns"><label><input type="checkbox" /> Permisos 01</label></div>
    <div class="medium-12 columns"><label><input type="checkbox" /> Permisos 02</label></div>
    <div class="medium-12 columns"><label><input type="checkbox" /> Permisos 03</label></div>
    <div class="medium-12 columns"><label><input type="checkbox" /> Permisos 04</label></div>
    <div class="medium-12 columns"><label><input type="checkbox" /> Permisos 05</label></div>
    <div class="medium-12 columns"><label><input type="checkbox" /> Permisos 06</label></div>
    <div class="medium-12 columns"><label><input type="checkbox" /> Permisos 07</label></div>
    <div class="medium-12 columns"><label><input type="checkbox" /> Permisos 08</label></div>
    <div class="medium-12 columns"><label><input type="checkbox" /> Permisos 09</label></div>
    <div class="medium-12 columns"><label><input type="checkbox" /> Permisos 10</label></div>
</div>

<br />
<div class="row">
    <div class="medium-12 columns">
        <input type="button" class="button default" value="Guardar" />
        <a href="#/usuarios/lista" class="button alert">Regresar</a>
    </div>
</div>
<hr />
<br />
