<h2 class="titulo">Editar Provedor</h2>

<div class="row">
    <div class="medium-3 columns"><label for="nombre">Razón Social</label></div>
    <div class="medium-8 columns end"><input type="text" name="nombre" /></div>
</div>
<div class="row">
    <div class="medium-3 columns"><label for="cedula">NIT</label></div>
    <div class="medium-8 columns end"><input type="text" name="cedula" /></div>
</div>
<div class="row">
    <div class="medium-3 columns"><label for="direccion">Dirección</label></div>
    <div class="medium-8 columns end"><input type="text" name="direccion" /></div>
</div>
<div class="row">
        <div class="medium-3 columns"><label for="ciudad">Ciudad</label></div>
        <div class="medium-8 columns end"><input type="text" name="ciudad" /></div>
    </div>
<div class="row">
    <div class="medium-3 columns"><label for="telefono">Teléfono</label></div>
    <div class="medium-8 columns end"><input type="text" name="telefono" /></div>
</div>

<div class="row">
    <div class="medium-12 columns">
        <input type="button" class="button default" value="Guardar" />
        <a href="#/proveedores/lista" class="button alert">Regresar</a>
    </div>
</div>
<hr />
<br />
