<h2 class="titulo">Ventas realizadas</h2>

<div class="row">
    <div class="medium-2 columns">
        <input type="text" placeholder="Fecha Inicio" moment-picker="turno.inicio_receso" format="YYYY-MM-DD" />
    </div>
    <div class="medium-2 columns">
        <input type="text" placeholder="Fecha Fin" moment-picker="turno.inicio_receso" format="YYYY-MM-DD" />
    </div>
    <div class="medium-3 columns">
        <input type="text" placeholder="Cliente" />
    </div>
    <div class="medium-3 columns">
        <input type="text" placeholder="Producto" />
    </div>
    <div class="medium-2 columns">
        <a class="button default" href="#/ventas/editar"><i class="fi-magnifying-glass"></i> Buscar</a>
    </div>
</div>
<hr />

<div class="row">
    <div class="medium-12 columns">
        <a class="button default" href="#/ventas/editar"><i class="fi-plus"></i> Venta nueva</a>
        <a class="button default" href="#"><i class="fi-print"></i> Imprimir</a>
        <a class="button default" href="#"><i class="fi-page-pdf"></i> Imprimir PDF</a>
    </div>
</div>

<div class="row">
    <div class="medium-2 columns item head">ID</div>
    <div class="medium-2 columns item head">Fecha</div>
    <div class="medium-3 columns item head">Cliente</div>
    <div class="medium-3 columns item head">Valor</div>
    <div class="medium-2 columns item head">Acciones</div>
</div>

<div class="row">
    <div class="medium-2 columns item">1</div>
    <div class="medium-2 columns item">0000-00-00</div>
    <div class="medium-3 columns item">Cliente 5</div>
    <div class="medium-3 columns item">$000.000</div>
    <div class="medium-2 columns item">
        <a href="#" tooltips tooltip-template="Editar"><i class="fi-pencil"></i></a>
        <a href="." tooltips tooltip-template="Descargar"><i class="fi-download"></i></a>
        <a tooltips tooltip-template="Borrar"><i class="fi-trash"></i></a>
    </div>
</div>

<div class="row">
    <div class="medium-2 columns item">2</div>
    <div class="medium-2 columns item">0000-00-00</div>
    <div class="medium-3 columns item">Cliente 4</div>
    <div class="medium-3 columns item">$000.000</div>
    <div class="medium-2 columns item">
        <a href="#" tooltips tooltip-template="Editar"><i class="fi-pencil"></i></a>
        <a href="." tooltips tooltip-template="Descargar"><i class="fi-download"></i></a>
        <a tooltips tooltip-template="Borrar"><i class="fi-trash"></i></a>
    </div>
</div>

<div class="row">
    <div class="medium-2 columns item">3</div>
    <div class="medium-2 columns item">0000-00-00</div>
    <div class="medium-3 columns item">Cliente 3</div>
    <div class="medium-3 columns item">$000.000</div>
    <div class="medium-2 columns item">
        <a href="#" tooltips tooltip-template="Editar"><i class="fi-pencil"></i></a>
        <a href="." tooltips tooltip-template="Descargar"><i class="fi-download"></i></a>
        <a tooltips tooltip-template="Borrar"><i class="fi-trash"></i></a>
    </div>
</div>

<div class="row">
    <div class="medium-2 columns item">4</div>
    <div class="medium-2 columns item">0000-00-00</div>
    <div class="medium-3 columns item">Cliente 2</div>
    <div class="medium-3 columns item">$000.000</div>
    <div class="medium-2 columns item">
        <a href="#" tooltips tooltip-template="Editar"><i class="fi-pencil"></i></a>
        <a href="." tooltips tooltip-template="Descargar"><i class="fi-download"></i></a>
        <a tooltips tooltip-template="Borrar"><i class="fi-trash"></i></a>
    </div>
</div>

<div class="row">
    <div class="medium-2 columns item">5</div>
    <div class="medium-2 columns item">0000-00-00</div>
    <div class="medium-3 columns item">Cliente 1</div>
    <div class="medium-3 columns item">$000.000</div>
    <div class="medium-2 columns item">
        <a href="#" tooltips tooltip-template="Editar"><i class="fi-pencil"></i></a>
        <a href="." tooltips tooltip-template="Descargar"><i class="fi-download"></i></a>
        <a tooltips tooltip-template="Borrar"><i class="fi-trash"></i></a>
    </div>
</div>

<hr />
<br />
