<h2 class="titulo">Editar Despacho</h2>

<div class="row">
    <div class="medium-3 columns"><label for="fecha_salida">Fecha salida</label></div>
    <div class="medium-8 columns end"><input type="text" name="fecha_salida" moment-picker="turno.inicio_receso" format="YYYY-MM-DD" /></div>
</div>
<div class="row">
    <div class="medium-3 columns"><label for="fecha_entrega">Fecha entrega</label></div>
    <div class="medium-8 columns end"><input type="text" name="fecha_entrega" moment-picker="turno.inicio_receso" format="YYYY-MM-DD" /></div>
</div>
<div class="row">
    <div class="medium-3 columns"><label for="direccion">Dirección destino</label></div>
    <div class="medium-8 columns end"><input type="text" name="direccion" /></div>
</div>
<div class="row">
    <div class="medium-3 columns"><label for="ciudad">Ciudad destino</label></div>
    <div class="medium-8 columns end"><input type="text" name="ciudad" /></div>
</div>

<div class="row">
    <div class="medium-12 columns">
        <input type="button" class="button default" value="Guardar" />
        <a href="#/despachos/lista" class="button alert">Regresar</a>
    </div>
</div>
<hr />
<br />
