<h2 class="titulo">Lista de despachos</h2>

<div class="row">
    <div class="medium-3 columns">
        <input type="text" placeholder="Fecha Inicio" moment-picker="turno.inicio_receso" format="YYYY-MM-DD" />
    </div>
    <div class="medium-3 columns">
        <input type="text" placeholder="Fecha Fin" moment-picker="turno.inicio_receso" format="YYYY-MM-DD" />
    </div>
    <div class="medium-3 columns">
        <input type="text" placeholder="Ciudad" />
    </div>
    <div class="medium-3 columns">
        <a class="button default" href="#/despachos/editar"><i class="fi-magnifying-glass"></i> Buscar</a>
    </div>
</div>
<hr />

<div class="row">
    <div class="medium-12 columns">
        <a class="button default" href="#/despachos/editar"><i class="fi-plus"></i> Programar despacho</a>
        <a class="button default" href="#"><i class="fi-print"></i> Imprimir</a>
        <a class="button default" href="#"><i class="fi-page-pdf"></i> Imprimir PDF</a>
    </div>
</div>

<div class="row">
    <div class="medium-1 columns item head">ID</div>
    <div class="medium-3 columns item head">Fecha salida</div>
    <div class="medium-3 columns item head">Fecha entrega</div>
    <div class="medium-3 columns item head">Ciudad Destino</div>
    <div class="medium-2 columns item head">Acciones</div>
</div>

<div class="row">
    <div class="medium-1 columns item">1</div>
    <div class="medium-3 columns item">0000-00-00</div>
    <div class="medium-3 columns item">0000-00-00</div>
    <div class="medium-3 columns item">Cali</div>
    <div class="medium-2 columns item">
        <a href="#" tooltips tooltip-template="Editar"><i class="fi-pencil"></i></a>
        <a href="." tooltips tooltip-template="Descargar"><i class="fi-download"></i></a>
        <a tooltips tooltip-template="Borrar"><i class="fi-trash"></i></a>
    </div>
</div>

<div class="row">
    <div class="medium-1 columns item">2</div>
    <div class="medium-3 columns item">0000-00-00</div>
    <div class="medium-3 columns item">0000-00-00</div>
    <div class="medium-3 columns item">Cali</div>
    <div class="medium-2 columns item">
        <a href="#" tooltips tooltip-template="Editar"><i class="fi-pencil"></i></a>
        <a href="." tooltips tooltip-template="Descargar"><i class="fi-download"></i></a>
        <a tooltips tooltip-template="Borrar"><i class="fi-trash"></i></a>
    </div>
</div>

<div class="row">
    <div class="medium-1 columns item">3</div>
    <div class="medium-3 columns item">0000-00-00</div>
    <div class="medium-3 columns item">0000-00-00</div>
    <div class="medium-3 columns item">Cali</div>
    <div class="medium-2 columns item">
        <a href="#" tooltips tooltip-template="Editar"><i class="fi-pencil"></i></a>
        <a href="." tooltips tooltip-template="Descargar"><i class="fi-download"></i></a>
        <a tooltips tooltip-template="Borrar"><i class="fi-trash"></i></a>
    </div>
</div>

<div class="row">
    <div class="medium-1 columns item">4</div>
    <div class="medium-3 columns item">0000-00-00</div>
    <div class="medium-3 columns item">0000-00-00</div>
    <div class="medium-3 columns item">Cali</div>
    <div class="medium-2 columns item">
        <a href="#" tooltips tooltip-template="Editar"><i class="fi-pencil"></i></a>
        <a href="." tooltips tooltip-template="Descargar"><i class="fi-download"></i></a>
        <a tooltips tooltip-template="Borrar"><i class="fi-trash"></i></a>
    </div>
</div>

<div class="row">
    <div class="medium-1 columns item">5</div>
    <div class="medium-3 columns item">0000-00-00</div>
    <div class="medium-3 columns item">0000-00-00</div>
    <div class="medium-3 columns item">Cali</div>
    <div class="medium-2 columns item">
        <a href="#" tooltips tooltip-template="Editar"><i class="fi-pencil"></i></a>
        <a href="." tooltips tooltip-template="Descargar"><i class="fi-download"></i></a>
        <a tooltips tooltip-template="Borrar"><i class="fi-trash"></i></a>
    </div>
</div>

<hr />
<br />
