<div ng-init="init()"></div>
<div>
    <h2 class="titulo">Paso 6 - Prototipo no funcional</h2>
    <div class="row">
        <div class="small-12 columns">
            <p>Curso de Lenguaje de Modelado Unificado UML 200609A_471</p>
            <p>UNAD</p>
            <p>Grupo 8</p>
            <h3>Tutor</h3>
            <p>NILSON ALBEIRO FERREIRA MANZANARES</p>
            <h3>Participantes</h3>
            <ul>
                <li>LAURA YISET VIVAS: 1143939775</li>
                <li>XIOMARA ROMERO: 1144178848</li>
                <li>MANUEL FELIPE MONTOYA: 1144039472</li>
                <li>JHONNY EVER ZAMBRANO ZUÑIGA	: 1143927676</li>
                <li>HECTOR FABIAN MORALES: 94064368</li>
            </ul>
        </div>
    </div>
    <br />
    <hr />
</div>