<h2 class="titulo">Inicio de sesi&oacute;n</h2>
<div class="row">
    <div class="medium-3 columns">Usuario</div>
    <div class="medium-3 columns end"><input type="text" name="usuario" /></div>
</div>

<div class="row">
    <div class="medium-3 columns">Clave</div>
    <div class="medium-3 columns end"><input type="password" name="clave" /></div>
</div>

<div class="row">
    <div class="medium-12 columns">
        <button class="button default"><i class="fi-check"></i> Entrar</button>
    </div>
</div>
<br />
<hr />