<h2 class="titulo">Registro</h2>

<div class="row">
    <div class="medium-5 columns">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" />
    </div>
    <div class="medium-5 columns end">
        <label for="apellidos">Apellidos</label>
        <input type="text" name="apellidos" />
    </div>
</div>

<div class="row">
    <div class="medium-5 columns">
        <label for="cedula">Cédula</label>
        <input type="text" name="cedula" />
    </div>
    <div class="medium-5 columns end">
        <label for="correo">Correo</label>
        <input type="text" name="correo" />
    </div>
</div>

<div class="row">
    <div class="medium-5 columns">
        <label for="clave">Clave</label>
        <input type="password" name="clave" />
    </div>
    <div class="medium-5 columns end">
        <label for="confirma_clave">Confirmar clave</label>
        <input type="password" name="confirma_clave" />
    </div>
</div>

<div class="row">
    <div class="medium-5 columns">
        <label for="direccion">Dirección</label>
        <input type="text" name="direccion" />
    </div>
    <div class="medium-5 columns end">
        <label for="ciudad">Ciudad</label>
        <input type="text" name="ciudad" />
    </div>
</div>

<div class="row">
    <div class="medium-5 columns">
        <label for="telefono">Teléfono</label>
        <input type="text" name="telefono" />
    </div>
    <div class="medium-5 columns end"></div>
</div>

<div class="row">
    <div class="medium-12 columns">
        <input type="button" class="button default" value="Registrarse" />
    </div>
</div>
<hr />
<br />
