<h2 class="titulo">Permisos - módulos</h2>

<div class="row">
    <div class="medium-3 columns">
        <input type="text" placeholder="ID" />
    </div>
    <div class="medium-3 columns">
        <input type="text" placeholder="Nombre" />
    </div>
    <div class="medium-6 columns">
        <a class="button default" href="#/permisos/editar"><i class="fi-magnifying-glass"></i> Buscar</a>
    </div>
</div>
<hr />

<div class="row">
    <div class="medium-12 columns">
        <a class="button default" href="#/permisos/editar"><i class="fi-plus"></i> Crear Permiso</a>
    </div>
</div>

<div class="row">
    <div class="medium-2 columns item head">ID</div>
    <div class="medium-2 columns item head">Nombre</div>
    <div class="medium-8 columns item head">Acciones</div>
</div>

<div class="row">
    <div class="medium-2 columns item">1</div>
    <div class="medium-2 columns item">Inventario</div>
    <div class="medium-8 columns item">
        <a href="#" tooltips tooltip-template="Editar"><i class="fi-pencil"></i></a>
        <a href="." tooltips tooltip-template="Visualizar"><i class="fi-eye"></i></a>
    </div>
</div>

<div class="row">
    <div class="medium-2 columns item">2</div>
    <div class="medium-2 columns item">Ventas</div>
    <div class="medium-8 columns item">
        <a href="#" tooltips tooltip-template="Editar"><i class="fi-pencil"></i></a>
        <a href="." tooltips tooltip-template="Visualizar"><i class="fi-eye"></i></a>
    </div>
</div>

<div class="row">
    <div class="medium-2 columns item">3</div>
    <div class="medium-2 columns item">Clientes</div>
    <div class="medium-8 columns item">
        <a href="#" tooltips tooltip-template="Editar"><i class="fi-pencil"></i></a>
        <a href="." tooltips tooltip-template="Visualizar"><i class="fi-eye"></i></a>
    </div>
</div>

<div class="row">
    <div class="medium-2 columns item">4</div>
    <div class="medium-2 columns item">Productos</div>
    <div class="medium-8 columns item">
        <a href="#" tooltips tooltip-template="Editar"><i class="fi-pencil"></i></a>
        <a href="." tooltips tooltip-template="Visualizar"><i class="fi-eye"></i></a>
    </div>
</div>
<div class="row">
    <div class="medium-2 columns item">5</div>
    <div class="medium-2 columns item">Usuarios</div>
    <div class="medium-8 columns item">
        <a href="#" tooltips tooltip-template="Editar"><i class="fi-pencil"></i></a>
        <a href="." tooltips tooltip-template="Visualizar"><i class="fi-eye"></i></a>
    </div>
</div>    
<div class="row">
    <div class="medium-2 columns item">6</div>
    <div class="medium-2 columns item">Roles</div>
    <div class="medium-8 columns item">
        <a href="#" tooltips tooltip-template="Editar"><i class="fi-pencil"></i></a>
        <a href="." tooltips tooltip-template="Visualizar"><i class="fi-eye"></i></a>
    </div>
</div> 
<div class="row">
    <div class="medium-2 columns item">7</div>
    <div class="medium-2 columns item">Documentos</div>
    <div class="medium-8 columns item">
        <a href="#" tooltips tooltip-template="Editar"><i class="fi-pencil"></i></a>
        <a href="." tooltips tooltip-template="Visualizar"><i class="fi-eye"></i></a>
    </div>
</div>   
</div>
<hr />
<br />
