<div ng-init="init()"></div>
<div ng-if="sesion.sesion == 1">
    <h2 class="titulo">Editar turno</h2>
    <input type="hidden" name="id" ng-model="turno.id" />
    <div class="row">
        <div class="medium-3 columns"><label for="nombre">Nombre</label></div>
        <div class="medium-9 columns"><input type="text" name="nombre" ng-model="turno.nombre" /></div>
    </div>
    <div class="row">
        <div class="medium-3 columns"><label for="inicio">Inicio</label></div>
        <div class="medium-2 columns end" moment-picker="turno.inicio" format="HH:mm">
            <input type="text" name="inicio" ng-model="turno.inicio" class="form-control" placeholder="Seleccione la hora" ng-model-options="{ updateOn: 'blur' }" />
        </div>
    </div>
    <div class="row">
        <div class="medium-3 columns"><label for="fin">Fin</label></div>
        <div class="medium-2 columns end" moment-picker="turno.fin" format="HH:mm">
            <input type="text" name="fin" ng-model="turno.fin" class="form-control" placeholder="Seleccione la hora" ng-model-options="{ updateOn: 'blur' }" />
        </div>
    </div>
    <div class="row">
        <div class="medium-3 columns"><label for="recesoInicio">Inicio de receso</label></div>
        <div class="medium-2 columns end" moment-picker="turno.inicio_receso" format="HH:mm">
            <input type="text" name="recesoInicio" ng-model="turno.inicio_receso" class="form-control" placeholder="Seleccione la hora" ng-model-options="{ updateOn: 'blur' }" />
        </div>
    </div>
    <div class="row">
        <div class="medium-3 columns"><label for="recesoFin">Fin de receso</label></div>
        <div class="medium-2 columns end" moment-picker="turno.fin_receso" format="HH:mm">
            <input type="text" name="recesoFin" ng-model="turno.fin_receso" class="form-control" placeholder="Seleccione la hora" ng-model-options="{ updateOn: 'blur' }" />
        </div>
    </div>
    <div class="row">
        <div class="medium-12 columns">
            <input type="button" ng-click="guardar()" class="button default" value="Guardar" />
            <a href="#/turnos" class="button alert">Regresar</a>
        </div>
    </div>
</div>
