<h2 class="titulo">Lista de clientes</h2>

<div class="row">
    <div class="medium-3 columns">
        <input type="text" placeholder="Nombre" />
    </div>
    <div class="medium-3 columns">
        <input type="text" placeholder="Apellidos" />
    </div>
    <div class="medium-3 columns">
        <input type="text" placeholder="Cédula" />
    </div>
    <div class="medium-3 columns">
        <a class="button default" href="#/clientes/editar"><i class="fi-magnifyng-glass"></i> Buscar</a>
    </div>
</div>
<hr />

<div class="row">
    <div class="medium-12 columns">
        <a class="button default" href="#/clientes/editar"><i class="fi-plus"></i> Crear cliente</a>
        <a class="button default" href="#"><i class="fi-print"></i> Imprimir</a>
        <a class="button default" href="#"><i class="fi-page-pdf"></i> Imprimir PDF</a>
    </div>
</div>

<div class="row">
    <div class="medium-2 columns item head">ID</div>
    <div class="medium-3 columns item head">Nombre</div>
    <div class="medium-2 columns item head">Apellidos</div>
    <div class="medium-2 columns item head">C&eacute;dula</div>
    <div class="medium-3 columns item head">Acciones</div>
</div>

<div class="row">
    <div class="medium-2 columns item">1</div>
    <div class="medium-3 columns item">Cliente 1</div>
    <div class="medium-2 columns item">Apellidos 1</div>
    <div class="medium-2 columns item">0000000000</div>
    <div class="medium-3 columns item">
        <a href="#" tooltips tooltip-template="Editar"><i class="fi-pencil"></i></a>
        <a href="." tooltips tooltip-template="Descargar"><i class="fi-download"></i></a>
        <a tooltips tooltip-template="Borrar"><i class="fi-trash"></i></a>
    </div>
</div>

<div class="row">
    <div class="medium-2 columns item">2</div>
    <div class="medium-3 columns item">Cliente 2</div>
    <div class="medium-2 columns item">Apellidos 2</div>
    <div class="medium-2 columns item">0000000000</div>
    <div class="medium-3 columns item">
        <a href="#" tooltips tooltip-template="Editar"><i class="fi-pencil"></i></a>
        <a href="." tooltips tooltip-template="Descargar"><i class="fi-download"></i></a>
        <a tooltips tooltip-template="Borrar"><i class="fi-trash"></i></a>
    </div>
</div>

<div class="row">
    <div class="medium-2 columns item">3</div>
    <div class="medium-3 columns item">Cliente 3</div>
    <div class="medium-2 columns item">Apellidos 3</div>
    <div class="medium-2 columns item">0000000000</div>
    <div class="medium-3 columns item">
        <a href="#" tooltips tooltip-template="Editar"><i class="fi-pencil"></i></a>
        <a href="." tooltips tooltip-template="Descargar"><i class="fi-download"></i></a>
        <a tooltips tooltip-template="Borrar"><i class="fi-trash"></i></a>
    </div>
</div>

<div class="row">
    <div class="medium-2 columns item">4</div>
    <div class="medium-3 columns item">Cliente 4</div>
    <div class="medium-2 columns item">Apellidos 4</div>
    <div class="medium-2 columns item">0000000000</div>
    <div class="medium-3 columns item">
        <a href="#" tooltips tooltip-template="Editar"><i class="fi-pencil"></i></a>
        <a href="." tooltips tooltip-template="Descargar"><i class="fi-download"></i></a>
        <a tooltips tooltip-template="Borrar"><i class="fi-trash"></i></a>
    </div>
</div>

<div class="row">
    <div class="medium-2 columns item">5</div>
    <div class="medium-3 columns item">Cliente 5</div>
    <div class="medium-2 columns item">Apellidos 5</div>
    <div class="medium-2 columns item">0000000000</div>
    <div class="medium-3 columns item">
        <a href="#" tooltips tooltip-template="Editar"><i class="fi-pencil"></i></a>
        <a href="." tooltips tooltip-template="Descargar"><i class="fi-download"></i></a>
        <a tooltips tooltip-template="Borrar"><i class="fi-trash"></i></a>
    </div>
</div>
<hr />
<br />
